body {
  background-color: #2c3e50;
  color: white;
  font-family: 'Seoge UI', sans-serif;
  text-align: center;
  padding-top: 50px;
}

h1 {
  color: #f1c40f;
}

.card {
  background-color: #34495e;
  display: inline-block;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.5);
  border-top: 5px solid #f1c40f;
}

.status {
  color: #2ecc71;
  font-weight: bold;
}
.pod-info {
  color: #3498db;
  font-family: monospace;
  font-size: 1.2em;
}
